.button {
    font: inherit;
    width: 10rem;
    height: 2rem;
    background: skyblue;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px wheat;
    margin-top: 20px;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: wheat;
    color: white;
  }
  
  .button:focus {
    outline: none;
  }